
-- Create notifications table
CREATE TABLE IF NOT EXISTS public.notifications (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    description TEXT NOT NULL,
    type TEXT NOT NULL DEFAULT 'system', -- 'lead', 'payment', 'system', 'follow_up'
    read BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- Add notification_preferences to profiles
ALTER TABLE public.profiles 
ADD COLUMN IF NOT EXISTS notification_preferences JSONB DEFAULT '{
    \
new_leads\: true,
    \follow_ups\: true,
    \proposals\: true,
    \ai_summary\: true,
    \whatsapp_alerts\: true,
    \lead_temperature\: true,
    \weekly_reports\: true,
    \critical_updates\: true
}'::jsonb;

-- Enable RLS for notifications
ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Users
can
view
their
own
notifications\ 
ON public.notifications FOR SELECT 
USING (auth.uid() = user_id);

CREATE POLICY \Users
can
update
their
own
notifications\ 
ON public.notifications FOR UPDATE 
USING (auth.uid() = user_id);

CREATE POLICY \System
can
insert
notifications\ 
ON public.notifications FOR INSERT 
WITH CHECK (true); -- Usually restricted, but for this demo let's allow insert


