
-- Create user_contracts table
CREATE TABLE IF NOT EXISTS public.user_contracts (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    content TEXT NOT NULL,
    fields JSONB,
    template_id TEXT,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.user_contracts ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Users
can
view
their
own
contracts\ 
ON public.user_contracts FOR SELECT 
USING (auth.uid() = user_id);

CREATE POLICY \Users
can
insert
their
own
contracts\ 
ON public.user_contracts FOR INSERT 
WITH CHECK (auth.uid() = user_id);

CREATE POLICY \Users
can
update
their
own
contracts\ 
ON public.user_contracts FOR UPDATE 
USING (auth.uid() = user_id);

CREATE POLICY \Users
can
delete
their
own
contracts\ 
ON public.user_contracts FOR DELETE 
USING (auth.uid() = user_id);


